<mat-toolbar>
  <span>Good Vibes</span>
  <span class="example-spacer"></span>

  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon e"
    routerLink="/"
    routerLinkActive="active"
  >
    <mat-icon>add_reaction</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
    routerLink="/post"
    routerLinkActive="active"
  >
    <mat-icon>add</mat-icon>
  </button>
</mat-toolbar>

<router-outlet></router-outlet>
<!--
<app-header></app-header>

<mat-card class="card" appearance="outlined">
  <mat-card-content>
    <app-card-content></app-card-content>
  </mat-card-content>
</mat-card>

<mat-card class="card card--full" appearance="outlined">
  <mat-card-content>Simple card</mat-card-content>
</mat-card>
-->
