<mat-form-field class="input">
  <mat-label>Your name:</mat-label>
  <input matInput #first />
</mat-form-field>
<mat-form-field [style.fontSize]="'16px'" class="textarea">
  <mat-label>What's your problem today?</mat-label>
  <textarea
    [formControl]="control"
    matInput
    cdkTextareaAutosize
    #autosize="cdkTextareaAutosize"
    cdkAutosizeMinRows="1"
    cdkAutosizeMaxRows="5"
  ></textarea>
</mat-form-field>

<div class="request-energy-btn">
  <button mat-flat-button (click)="requestEnergy()">Request energy!</button>
</div>
